@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a type="button" class="btn btn-primary w-25 p-2" asp-area="" asp-controller="User" asp-action="Create">Register</a>
    <a type="button" class="btn btn-primary w-25 p-2" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
</div>
